.emailInput {

}

.randomLine {
  margin-top: 10px;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}

.randomInput input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.sendBtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btnLine {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.backBtn {
  flex: 1;
  margin-right: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.submitBtn {
  flex: 6;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}